{% extends "base.html" %}
{% load static %}
{% block title %}
    Ваши пиццы
{% endblock %}
{% block content %}
    <div class="container" style="padding-right: 20px; padding-left: 30px;">
        {% if cart.get_total_price == 0 %}
            <h1>Ваша корзина пуста.</h1>
        {% else %}
        <h1>Ваши пиццы</h1>
        <table class="cart">
            <div class="container" style="padding-right: -20px; padding-left: -30px;">
                        <div class="row">
                            <div class="col-md-2">Пицца</div>
                            <div class="col-md-2">Цена</div>
                            <div class="col-md-2">Кол-во</div>
                            <div class="col-md-2">Стоимость</div>
                            <div class="col-md-2"></div>
                        </div>
            </div>
            <tbody>
            <hr width="100%" color="#ffc107" size="5">
            {% for item in cart %}
                {% with product=item.product %}
                    <div class="container" style="padding-right: -20px; padding-left: -30px;">
                        <div class="row">
                            <div class="col-md-2"><h5>{{ product.name }}</h5></div>
                            <div class="col-md-2"><h5>{{ item.price }}₽</h5></div>
                            <div class="col-md-2"><h5><a href="{% url 'cart:cart_minus_product' product.id %}" class="btn">-</a> {{ item.quantity }} <a href="{% url 'cart:cart_plus_product' product.id %}" class="btn">+</a></h5></div>
                            <div class="col-md-2"><h5>{{ item.total_price }}₽</h5></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <a href="{% url 'cart:cart_remove' product.id %}" style="color: red">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" color="#ffc107">
                {% endwith %}
            {% endfor %}

            </tbody>
        </table>
        <p class="text-right">
            <h5>Сумма к оплате: {{ cart.get_total_price }}₽</h5>
            <a href="{% url 'shop:product_list' %}" class="btn" style="
                                                                       line-height: 27px;
                                                                       align-items: center;
                                                                       justify-content: center;
                                                                       border-radius: 17px;
                                                                       background-color: #ffc107;
                                                                       border: 0px;
                                                                       color: black;
                                                                       width:auto;">Выбрать ещё пиццу</a>
            &middot
            <a href="{% url 'orders:order_create' %}" class="btn" style="
                                                                       line-height: 27px;
                                                                       align-items: center;
                                                                       justify-content: center;
                                                                       border-radius: 17px;
                                                                       background-color: #ffc107;
                                                                       border: 0px;
                                                                       color: black;
                                                                       width:auto;">Оплатить</a>
        </p>
        {% endif %}
    </div>
{% endblock %}