<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PIZZA{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body style="height: 100%">
        <nav class="navbar navbar-expand-md navbar-warning bg-warning mb-4">

                <img src="{% static '/image/logo.png/' %}" class="d-block" style="height: 40px;">
                <a class="navbar-brand text-dark" href="{% url 'product_list'%}">HOW'R'U</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                            {% if user.is_authenticated %}
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="userMenu" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labeledby="userMenu">
                                                    <a class="dropdown-item" href="{% url 'product_new' %}">Add new product</a>
                                                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                                            </div>
                                    </li>
                                </ul>
                            {% else %}
                                    <!-- <div class="dropdown ml-auto">
                                            <a class="nav-link dropdown-toggle text-dark" href="#" id="loginMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Login
                                            </a>
                                            <div class="dropdown-menu" style="left: -140px;">
                                                <form class="px-4 py-3">
                                                    <div class="form-group">
                                                        <label for="exampleDropdownFormEmail1">Email address</label>
                                                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleDropdownFormPassword1">Password</label>
                                                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                                </form>
                                                <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="{% url 'signup' %}">New around here? Sign up</a>
                                                    <a class="dropdown-item" href="#">Forgot password?</a>
                                            </div>
                                        </div> -->

                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="loginMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Аккаунт</a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginMenu">
                                                <div class="container btn-group" style="width=50%; display: grid">
                                                    <a href = "{% url 'login' %}" class="btn btn-outline-secondary" style="border-radius: 10px;">Войти</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href = "{% url 'signup' %}" class="btn btn-outline-secondary" style="border-radius: 10px;">Зарегистрироваться</a>
                                                </div>
                                            </div>
                                    </li>
                                </ul>
                    </div>
                            {% endif %}
                    </div>

        </nav>
        {% block content %}
        {% endblock %}
        <main>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </main>
        <footer class="bd-footer py-4 py-md-5 mt-5 bg-warning">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-muted">
                        <h5 class="text-dark">HOW'R'U</h5>
                        <a href="" class="text-dark">О нас</a>
                    </div>
                    <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-muted">
                        <h5 class="text-dark">Партнёрам</h5>
                        <a href="" class="text-dark">Поставщикам</a>
                        <a href="" class="text-dark">Франшиза</a>
                    </div>
                    <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-muted">
                        <h5 class="text-dark">Это интересно</h5>
                        <a href="" class="text-dark">Информация</a>
                        <a href="" class="text-dark">Данные</a>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>