<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PIZZA{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body style="height: 100%">
        <nav class="navbar navbar-expand-md navbar-warning bg-warning mb-4">
            <div class="container" style="padding-right: 20px; padding-left: 30px;">

                <a class="navbar-brand text-dark" href="{% url 'product_list'%}">HOW'R'U</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                            {% if user.is_authenticated %}
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <div class="dropdown">
                                          <a class="nav-link dropdown-toggle text-dark" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              {{ user }}
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% if "product.add_product" in user.get_user_permissions %}
                                                <a class="dropdown-item" href="{% url 'product_new' %}">Добавить новый продукт</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="{% url 'cart:cart_detail' %}">Корзина</a>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                                          </div>
                                        </div>
                                    </li>
                                </ul>
                            {% else %}

                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <div class="dropdown">
                                          <a class="nav-link dropdown-toggle text-dark" href="#" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Аккаунт
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                              <a class="dropdown-item" href = "{% url 'login' %}">Войти</a>
                                              <a class="dropdown-item" href = "{% url 'signup' %}">Зарегистрироваться</a>
                                          </div>
                                        </div>
                                    </li>
                                </ul>
                    </div>
                            {% endif %}
                    </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <main>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </main>
        <footer class="bd-footer py-4 py-md-5 mt-5 bg-warning">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-muted">
                    </div>
                    <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-muted">
                        <h5 class="text-dark">HOW'R'U</h5>
                    </div>
                    <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-muted">
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>