<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}
        <div class="jumbotron">
            <h1 class="display-4">Pizza app</h1>
            <p class="lead">Pizzeria website built with Django</p>
            <p class = "lead">
                <a class="btn btn-primary btn-lg" href="{% url 'product_list' %}" role = "button">All pizzas</a>
            </p>
        </div>
    {% endblock %}
</body>
</html>