{% extends 'base.html' %}
{% block title %} PIZZA {% endblock %}
{% block content %}
<div class="container">
    <section class="carousel">
        <div class="container-fluid">
            <!-- carousel -->
            {% if errorCheck != 1 %}
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride-ride="carousel" data-ride="carousel" data-pause="hover">
                      <div class="carousel-inner" style="border-radius: 2px; height: 300px">
                            <div class="carousel-item active">
                                {% for product in product_list %}
                                {% if product.id == random_f %}
                                    <img src="{{ product.image.url }}" class="d-block w-100" style="height: 600px" alt="pizza" >
                                    <div class="carousel-caption d-none d-md-block" style="background: rgba(0,0,0,.4); position: absolute; top: 31%;">
                                        <h5>{{ product.name }}</h5>
                                        <p>{{ product.description }}</p>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="carousel-item">
                                {% for product in product_list %}
                                {% if product.id == random_s %}
                                    <img src="{{ product.image.url }}" class="d-block w-100" style="height: 600px" alt="pizza">
                                    <div class="carousel-caption d-none d-md-block" style="background: rgba(0,0,0,.4); position: absolute; top: 31%;">
                                        <h5> {{ product.name }}</h5>
                                        <p>{{ product.description }}</p>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="carousel-item">
                                {% for product in product_list %}
                                {% if product.id == random_t %}
                                    <img src="{{ product.image.url }}" class="d-block w-100" style="height: 600px" alt="pizza">
                                    <div class="carousel-caption d-none d-md-block" style="background: rgba(0,0,0,.4); position: absolute; top: 31%;">
                                        <h5>{{ product.name }}</h5>
                                        <p>{{ product.description }}</p>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                      </a>
                </div>
            {% endif %}
            {% if errorCheck == 1 %}
                <h3 style="text-align: center">Ошибка. Недостаточно продуктов.</h3>
            {% endif %}
            <!-- carouselEND -->
        </div>
    </section>
    <hr width="97%" color="#ffc107" size="5">
    <section class="products">
        <div class="container-fluid">
            <div class="row" style="margin-right: 0px;">
                {% for product in product_list %}
                <div class="col-md-6" style="margin-bottom: 15px">
                    <!-- КАРТОЧКА ТОВАРА -->
                    <div class="card float-right" style="border: 0px;">
                        <div class="row">
                            <div class="col-sm-5" style="padding-right: 0px">
                                <img class="d-block" style="width: 532px; height: 290px;" src="{{ product.image.url }}" alt="">
                            </div>
                            <div class="col-7" style="background-color: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px);">
                                <div class="card-block" style="margin-top: 25px;">
                                    <h3 style="color: white" class="card-title"> {{product.name}} </h3>
                                    <p style="color: white">{{product.description}}</p>
                                    <p style="color: white">{{ product.price}}₽ &middot {{product.weight}} грамм &middot {{product.cm}} см</p>
                                    <br>
                                    <div class="container-fluid">
                                        <div class="row" style="align-items: center;">
                                            <button href="" method="post" class="btn btn-primary" style="padding-right: 15px;
                                                                                           line-height: 27px;
                                                                                           align-items: center;
                                                                                            justify-content: center;
                                                                                            border-radius: 17px;
                                                                                            background-color: hsla(45, 100%, 51%, 0.7);
                                                                                            border: 0px;
                                                                                            color: black;
                                                                                            width:auto;" >В корзину</button>
                                            <a href="{% url 'product_edit' product.pk %}" class="btn btn-primary ml-2" style="
                                                                                                                        line-height: 27px;
                                                                                                                        align-items: center;
                                                                                                                        justify-content: center;
                                                                                                                        border-radius: 17px;
                                                                                                                        background-color: hsla(45, 100%, 51%, 0.7);
                                                                                                                        border: 0px;
                                                                                                                        color: black;
                                                                                                                        width:auto;" >Изменить</a>
                                            <a href="#" class="btn btn-primary ml-2" data-toggle="modal" data-target="#exampleModalCenter{{product.pk}}" style="
                                                                                                                        line-height: 27px;
                                                                                                                        align-items: center;
                                                                                                                        justify-content: center;
                                                                                                                        border-radius: 17px;
                                                                                                                        background-color: hsla(45, 100%, 51%, 0.7);
                                                                                                                        border: 0px;
                                                                                                                        color: red;
                                                                                                                        width:auto;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- всплывающее окно с подтверждением удаления -->
                            <div class="modal fade" id="exampleModalCenter{{product.pk}}" tabindex="0" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                  <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Удаление объекта</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                  </div>
                                                  <div class="modal-body">
                                                        Вы уверены, что хотите удалить объект?
                                                  </div>
                                                <script>
                                                    function httpGet{{product.pk}}()
                                                    {
                                                        var xmlHttp = new XMLHttpRequest();
                                                        xmlHttp.open( "GET", "{% url 'product_delete' product.pk %}", false ); // false for synchronous request
                                                        xmlHttp.send( null );
                                                        location.reload();
                                                        return xmlHttp.responseText;
                                                    }
                                                </script>
                                                  <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                                        <button type="submit" onclick="httpGet{{product.pk}}()" class="btn btn-primary">Да</button>
                                                  </div>
                                            </div>
                                      </div>
                            </div>
                                <!-- конец вспл. окна -->
                        </div>
                    </div>
                    <!-- КОНЕЦ КАРТОЧКИ ТОВАРА -->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <hr width="97%" color="#ffc107" size="5">
</div>
{% endblock content %}
