{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if "product.add_product" in user.get_user_permissions %}
<div class="container">
    <h1 >Вы уверены, что хотите удалить объект?</h1>
    <div class="row">
        <div class="col-md-2">
            <a type="submit" href="{% url 'product_list' %}" class="btn btn-secondary" style="line-height: 27px;
                                                                                            align-items: center;
                                                                                            justify-content: center;
                                                                                            border-radius: 17px;
                                                                                            background-color: hsla(45, 100%, 51%, 0.7);
                                                                                            border: 0px;
                                                                                            color: black;
                                                                                            width:auto;">Нет</a>
        </div>
        <div class="col-md-2">
            <form method="post">
                {% csrf_token %}
                <button type="submit" href="url 'product_delete' {{product.pk}}" class="btn btn-primary" style="line-height: 27px;
                                                                                            align-items: center;
                                                                                            justify-content: center;
                                                                                            border-radius: 17px;
                                                                                            background-color: hsla(45, 100%, 51%, 0.7);
                                                                                            border: 0px;
                                                                                            color: black;
                                                                                            width:auto;">Да</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}